<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title>Storistic</title>
  <meta name="Generator" content="Cocoa HTML Writer">
  <meta name="CocoaVersion" content="1187.34">
  <style type="text/css">
    p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 13.0px Calibri; color: #333333}
    p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 13.0px Calibri; color: #333333; min-height: 15.0px}
    span.s1 {text-decoration: underline ; color: #0000ee}
  </style>
</head>
<body>
<p class="p1">Hi $userName!</p>
<p class="p2"><br></p>
<p class="p1">You're on your way to create incredible stories! Just confirm your email.</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space"></span>
#if ($entity)
	<a href="$serverURL/confirmEmail?confirmationCode=$confirmationCode&amp;userName=$encUserName&amp;to=$encEmail&amp;$entity=$entityId">	
#else
	<a href="$serverURL/confirmEmail?confirmationCode=$confirmationCode&amp;userName=$encUserName&amp;to=$encEmail">
#end

<span class="s1">Confirm</span></a></p>
<p class="p1">Thanks,</p>
<p class="p1">Storistic Support Team</p>
<p class="p2"><i></i><br></p>
<p class="p1"><i>If the button above doesn't work, please copy and this URL into your browser:<br>
#if ($entity)
	$serverURL/confirmEmail?confirmationCode=$confirmationCode&amp;userName=$encUserName&amp;to=$encEmail&amp;$entity=$entityId
#else
	$serverURL/confirmEmail?confirmationCode=$confirmationCode&amp;userName=$encUserName&amp;to=$encEmail
#end
</i></p>
<p class="p2"><br></p>
<p class="p1">$messageID.$messageVersion</p>
</body>
</html>
